body {
    background-color: #585858;
}

#gameWorld {
    background: white;
    border: 1px solid black;
    margin-left: 25%;
}

#infoBox {
    background: white;
    margin-left: 25%;
    width: 44%;
    padding: 1em;
}